body{
    background-color: #76DBFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-contents {
    width: 350px;
    height: 450px;
    background: linear-gradient(130deg, #00F7C1, #606A99);
    border-radius: 25px;
}

.citySearch {
    width: 150px;
}

.inputForm {
    height: 18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.citySearch {
    border: none;
    background-color: aliceblue;
    padding-left: 20px;
    width: 240px;
    height: 45px;
    border-radius: 50px;
}

.citySearch:focus {
    outline:none;
}

.reading-glasses {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: aliceblue;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-text-fill-color: #000000;
    -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.temperature {
    color: white;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
}

.CityName {
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#sunny-icon {
    height: 150px;
    text-align: center;
}
.weather-contnets{
    text-align: center;
}

.wind{
    font: bold;
    color : white;
}

.windSpeedBox{
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}