body{
    background-color: rgb(76, 76, 76);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.changeColor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
}